html,
body,
.main {
  height: 100%;
}
#root {
  height: inherit;
}
.centered-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.header__login-name {
  margin-right: 20px;
}