.login-form {
  padding: 20px;
  width: 30%;
  min-width: 200px;
  height: 200px;
}
.btn-black {
  background-color: #000;
  color: #fff;
}
.btn-black:hover {
  background-color: #000 !important;
  color: rgb(182, 217, 245) !important;
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }
}
